aiohttp==3.9.5
cryptography==42.0.5
eodhd==1.0.30
Flask==3.0.3
Flask_Bcrypt==1.0.1
flask_caching==2.2.0
flask_limiter==3.6.0
Flask_Login==0.6.3
flask_sqlalchemy==3.1.1
pandas==2.2.2
Requests==2.31.0
SQLAlchemy==2.0.29
sqlalchemy_utils==0.41.2
