<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body>
    <div class="container">
        <h1>About Our App</h1>
        <p style="font-size:40px">This app is meant to showcase some common web vulnerabilities, browse carefully!
            &#128520;
        </p>
        <form method="post" action="/meet_mascot">
            <input type="hidden" id="mascot_url" name="mascot_url" value="https://i.ibb.co/nPkYyQ7/pikachu.png"
                required>
            <button type="submit">Meet our Cute Mascot</button>
            <p id="response"></p> <!-- Display the response here -->
        </form>
    </div>
</body>

</html>