<!-- templates/about.html -->
<!DOCTYPE html>
<html>

<head>
    <title>About Us</title>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='mascot.js') }}"></script>
</head>

<body>
    <h1>About Our App</h1>
    <p style="font-size:40px">This app is meant to showcase some common web vulnerabilities, browse carefully!
        &#128520;
    </p>
    <button onclick="downloadHtmlFromUrl()">Meet Our Cute Mascot</button>
    <p id="response"></p> <!-- Display the response here -->
</body>

</html>